<script>
    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };
    function toggle(className){
        var order = getUrlParameter('order');
        var elements = document.getElementsByClassName(className);
        for(var i = 0, length = elements.length; i < length; i++) {
            var currHref = elements[i].href;
            if(order=='desc'){ 
                var chg = currHref.replace('desc', 'asc');
                elements[i].href = chg;
            }
            if(order=='asc'){ 
                var chg = currHref.replace('asc', 'desc');
                elements[i].href = chg;
            }
        }
    };
    function readableFileSize(size) {
        var units = ['B', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB'];
        var i = 0;
        while(size >= 1024) {
            size /= 1024;
            ++i;
        }
        return parseFloat(size).toFixed(2) + ' ' + units[i];
    }

    function changeSize() {
        var sizes = document.getElementsByTagName("size");

        for (var i = 0; i < sizes.length; i++) {
            var humanSize = readableFileSize(sizes[i].innerHTML);
            sizes[i].innerHTML = humanSize;
        }
    }
</script>
</body>
</html>
