<!DOCTYPE html>
<html>
<head>
    <title>{{html .Name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <style>
    * { padding: 0; margin: 0; }
    body {
        font-family: monospace;
        text-rendering: optimizespeed;
        color: white;
        background-color: #272B30;
    }
    a {
        color: white;
        text-decoration: none;
    }
    header,
    #summary {
        padding-left: 5%;
        padding-right: 5%;
    }
</style>
</head>
<body>
