<style>
    th:first-child,
    td:first-child {
        width: 1%; /* tighter for mobile */
    }
    th:last-child,
    td:last-child {
        width: 1%; /* tighter for mobile */
    }
    header {
        padding-top: 25px;
        padding-bottom: 15px;
        background-color: #3A3F44;
    }
    h1 {
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    h1 a {
        margin: 0 4px;
    }
    h1 a:hover {
        text-decoration: underline;
    }
    h1 a:first-child {
        margin: 0;
    }
    main {
        display: block;
    }
    .meta {
        font-size: 12px;
        border-bottom: none;
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>
